html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}

html, body{
    height: 100%;
}

.headerMain {
    width:100%;
    height: 80px;
    margin:0px auto;
    z-index:0;
    padding: 0px;

}

.header {
    height: 80px;
    width:100%;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #C5CEDC;
    background: #fff;
}

body {
    background-color: #F8F8F8;
    /* height: 3000px; */
}

body div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}


.logo a{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: #000;
}

.right{
    display: flex;
}

.username{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username a{
    padding: calc(.5em + 3px) 0.5em calc(.3em + 3px);
    text-decoration: none;
    color: #3678B3;
    font-family: 'Kanit', sans-serif;
}

.username a:hover{

}

.username a:active {
  color: #3678B3;
}

.btn{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn a{
    padding: calc(.3em + 3px) 1.2em calc(.3em + 3px);
    background-color: #739abd;
    border-radius: 3px;
    box-shadow: 3px 3px 4px 1px #3678B3;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

.btn a:hover{
    background: #4C81B1;
    box-shadow: 3px 3px 4px 1px #31608A;
}

.btn a:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.wrapper{
    max-width: 80%;
    margin: 0 auto;
    height: auto;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form_content{
    height: 100%;
}

.content {
    margin-top: 30px;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 0;
}

.card{
    border: 2px solid #C6CEDB;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 170px;
    max-height: 300px;
    width: 18%;
    margin: 1%;
}

.card_add{
    border: 2px solid #C6CEDB;
    border-radius: 10px;
    height: 300px;
    width: 18%;
    margin: 1%;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}
}

.img:hover{
  animation: spin 3s ease 0s 1;
}

.pic{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
}

.card .note{
    height: 80%!important;
    flex-grow: 1;
    text-align: justify;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.date{
    border-bottom: 2px solid #9D879E;
    min-height: 25px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    padding: 0;
}

.card-header{
    padding: 0;
    padding-top: 10px;
    position: relative;
}

.card:hover .card-buttons{
    display: block;
}

.card-buttons{
    display: none;
    position: absolute;
    right: 0;
    padding: 0;
    top: -5px;
}

.card-btn:focus{
    outline: none;
    color: #497093;
}

.card-btn{
    color: #739ABD;
    border: none;
    background-color: inherit;
    padding: 0;
    padding-left: 1px;
}

footer {
    padding: 10px 0px;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-align: center;

    position: relative;
    height:30px;
    width:100%;
}

.containerloginform{
    padding: 0;
    max-width: 80%;
    margin: 0 auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
}

.wrap{
    width: 100%;
    height: auto;
}

.loginform{
    display: block!important;
    margin: 0 auto;
    border: 2px solid #3678B3;
    border-radius: 10px;
    width: 25%;
    padding: 10px;
    padding-bottom: 0;
}

.formrow{
    font-family: 'PT Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.buttons{
    border-top: 2px solid #3678B3;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 18px;
}

.buttons button{
    border: 0px;
    background-color: #f8f8f8;
    border-radius: 3px;
    background-color: #739abd;
    box-shadow: 3px 3px 4px 1px #3678B3;
    color: #fff;
    padding: 4px 10px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

.buttons button:hover{
    background: #4C81B1;
    box-shadow: 3px 3px 4px 1px #31608A;
}

.greet{
    width: 100%;
}

.greet-header{
    font-size: 34px;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.text-wrapper{
    width: 100%;
    margin: 20px 0px;
}

.greet-text{
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.errorlist{
    font-size: 18px;
    color: red;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

.mt5{
    margin-top: 50px;
}

.noteform{
    width: 35%!important;
}

.noteform input{
    width: 50%
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.group{
    width: 100%;
}

.group-title{
    font-family: 'Kanit', sans-serif;
    border-bottom: 2px solid #ACACAC;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 20px;
}

.hide-button{
    font-size: 16px;
}



/* .btn a{
    padding: calc(.3em + 3px) 1.2em calc(.3em + 3px);
    background-color: #739abd;
    border-radius: 3px;
    box-shadow: 3px 3px 4px 1px #3678B3;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

.btn a:hover{
    background: #4C81B1;
    box-shadow: 3px 3px 4px 1px #31608A;
}

.btn a:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
} */
